<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Min Hemsida</title>
    <link rel="stylesheet" href="static/krisisinlagg.css">
</head>
<body>
    <!-- Navigation -->
    <nav>
        <ul>
            <li><a href="krisisinlagg.html">Logga/slogan</a></li>
            <li><a href="krisisflode.html">Krishantering</a></li>
            <li><a href="publicerainlagg.html">Publicera Inlägg</li>
            <li><a href="Krisislogin.html">Användar ID</a></li>
        </ul>
    </nav>

    <!-- Huvudinnehåll -->
    <div class="container">
        <div class="filter">
            <h2>Filter</h2>
            <input type="text" placeholder="Sök...">
            <input type="text" placeholder="Postnummer...">
            <input type="text" placeholder="Stad...">
        </div>
        <div class="container">
            <div class="column">
                <div class="post">
                    <h2>Inlägg 1</h2>
                    <p>MORD I MALMÖ</p>
                </div>
            </div>
            <div class="column">
                <div class="post">
                    <h2>Inlägg 2</h2>
                    <p> BRAND I LINDÄNGEN</p>
                </div>
            </div>
            <div class="column">
                <div class="post">
                    <h2>Inlägg 3</h2>
                    <p> skottlossning på videdals IP.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
