<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Min Hemsida</title>
    <link rel="stylesheet" href="static/krisisflode.css">
</head>
<body>
    <!-- Navigation -->
    <nav>
        <ul>
            <li><a href="krisisinlagg.html">Logga/slogan</a></li>
            <li><a href="krisisflode.html">Krishantering</a></li>
            <li><a href="publicerainlagg.html">Publicera inlägg</a></li>
            <li><a href="Krisislogin.html">Användar ID</a></li>
        </ul>
    </nav>

    <!-- Huvudinnehåll -->
    <div class="container">
        <h1>Välkommen till vår hemsida!</h1>
        <p>KRISISISISISISISISISIISIS
            fwefewfwe
            fwefewfwewef
            wikipediaf
            wikipediaf
            wikipediafwe
            fwefwefwefew
            fwefwefwtr
            gergre
            
        </p>
    </div>
</body>
</html>
