nav {
    background-image: url(../static/asphalt.jpg);
    z-index: 1 !important;
    background-color: rgb(0, 0, 0);

}

a {
    text-decoration: none;
}
#logo {
    width: 330px ;
    z-index: 10 !important;
}