body {
    background-color: #f4f3f1;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #fffefc !important;
}

.icon-post {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

main {
    background-color: #FFDEAD;
}

.btn,
.navbar {
    background-color: #2a2e42 !important;
}

.general_light_blue {
    background-color: #8698B3;
}

.feedback_message_register {
    color: red;
}

.icon_confirm_post:hover {
    fill: #2a2e42;
}

.icon_confirm_post {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
}


/*Index.html*/
.widht-select {
    width: 15vw;
}

.logo_home {
    width: 55vh;
}

.hover_collapse:hover {
    background-color: #a0afc6;

}


/*publish_post.html*/
.bg-img {
    background-image: url(copcar.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;
}

.card-img-sizing {
    height: 20vh;
    object-fit: cover;
}

.chrisis_tips_card {
    box-shadow: 6px 6px 0 0 rgba(33, 54, 90, .11) !important;
    border-left: 10px solid #000000;
}

.footer {
    background-color: #2a2e42 !important;

}


/* Login page */
.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(krilog.png)repeat;
}

.container-lg {
    width: 420px;
    background: white;
    border: 2px solid rgba(255, 255, 255, 2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
}

.container-lg h1 {
    font-size: 36px;
    text-align: center;
}

.container-lg .Input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.Input-box input {
    width: 100%;
    height: 100%;
    background: #2a2e42;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    color: white;
}

.Input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.container-lg .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    margin-right: 3px;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.container-lg .butn {
    width: 100%;
    height: 45px;
    background: #2a2e42;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;

}

.container-lg .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
/* Login page styling ends here */


.BGLIGHT {
    background-image: url(krilog.png);
}

.mrkontakt {
    color: #fff;
    text-align: center;
}


/* Styling for screens with a maximum width of 576px */
@media screen and (max-width: 576px) {
    .widht-select {
        width: 50vw;
    }

}

@media screen and (max-width: 768px) and (min-width: 576px) {
    .widht-select {
        width: 30vw;
    }

}