<!DOCTYPE html>
<html lang="sv">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krishantering</title>
    <!--BootstrapCSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>


<body>
    <!--BootStrap NavBar-->
    <nav class="navbar navbar-expand-sm bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container d-md-flex justify-content-end">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link mx-lg-5 p-md-4 mx-sm-3" href="/">Hem</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active mx-lg-5 p-md-4 mx-sm-3" aria-current="page" href="/Krishantering">Krishantering</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link mx-lg-5 p-md-4 mx-sm-3" href="/Kontakt">Kontakta
                            oss</a>
                    </li>

                    <!--Inloggad användare-->
                    {% if is_logged_in != None %}
                    <li class="nav-item">
                        <a class="nav-link mx-lg-5 p-md-4 mx-sm-3" href="/Ny">Publicera inlägg</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link mx-lg-5 p-md-4 mx-sm-3" href="/Profil">Min profil</a>
                    </li>

                    <!--Inte inloggad användare-->
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link mx-lg-5 p-md-4 mx-sm-3" href="/Logga_in">Logga in/
                            <br>Registrera dig</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


    <main class="container-md mt-4 pb-5">
        <div class="row border-bottom">
            <div class="col-md-3 general_light_blue"> </div>

            <div class="col-md-9 py-3">
                <h1 class="ms-4 mt-4">Krishantering</h1>
                <h5 class="ms-4">Här hittar du användbar information om hur du som privatperson bör agera i olika
                    typer av nödsituationer, samt vem du kan kontakta i händelse av kris.</h5>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-12 col-lg-7">
                <!--Card starts here-->
                <div class="card mx-3 mx-sm-5 mx-md-3 mx-lg-1 my-4 chrisis_tips_card">
                    <div class="card-body">
                        <h5 class="card-title">SOS</h5>
                        <p class="card-text">
                            Ring alltid <span style="color: red;">112</span> om du befinner dig i en akut nödsituation.
                            <br>
                            Ring <span style="color: red;">113 13</span> för information om olyckor och kriser. <br>
                            Ring <span style="color: red;">114 14</span> för icke akuta polisärenden. <br>
                            Ring <span style="color: red;">1177</span> för sjukvårdsrådgivning.
                        </p>
                        <a href="https://www.sosalarm.se" class="btn btn-dark">Läs mer</a>
                    </div>
                    <img class="card-img-bottom card-img-sizing" src="sos.jpeg" alt="SOS">
                </div>
                <!--Card ends here-->
            </div>


            <div class="col-sm-12 col-md-6 col-lg-5">
                <!--Card starts here-->
                <div class="card mx-3 mx-sm-5 mx-md-3 mx-lg-1 my-4 chrisis_tips_card">
                    <div class="card-body">
                        <h5 class="card-title">MSB</h5>
                        <p class="card-text">Myndigheten för samhällsskydd och beredskap är en svensk statlig
                            förvaltningsmyndighet, som sorterar under försvarsdepartementet och tillhör ministern för
                            civilt försvars ansvarsområde.<br>
                            <span style="color: red;">Vid en större olycka eller en kris behöver du få veta vad som
                                händer, hur du själv ska agera och vad ansvariga myndigheter gör. Du kan också behöva
                                komma i kontakt med dina anhöriga.</span>
                        </p>
                        <a href="#" class="btn btn-dark">Läs mer</a>
                    </div>
                    <img class="card-img-bottom card-img-sizing" src="https://picsum.photos/240/340" alt="xxx">
                </div>
                <!--Card ends here-->
            </div>


            <div class="col-sm-12 col-md-6 col-lg-4">
                <!--Card starts here-->
                <div class="card mx-3 mx-sm-5 mx-md-3 mx-lg-1 my-4 chrisis_tips_card">
                    <div class="card-body">
                        <h5 class="card-title">Rubrik</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam,
                            doloribus.</p>
                        <a href="#" class="btn btn-dark">Läs mer</a>
                    </div>
                    <img class="card-img-bottom card-img-sizing" src="https://picsum.photos/290/340" alt="xxx">
                </div>
                <!--Card ends here-->
            </div>


            <div class="col-sm-12 col-md-6 col-lg-4">
                <!--Card starts here-->
                <div class="card mx-3 mx-sm-5 mx-md-3 mx-lg-1 my-4 chrisis_tips_card">
                    <div class="card-body">
                        <h5 class="card-title">Rubrik</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam,
                            doloribus.</p>
                        <a href="#" class="btn btn-dark">Läs mer</a>
                    </div>
                    <img class="card-img-bottom card-img-sizing" src="https://picsum.photos/280/340" alt="xxx">
                </div>
                <!--Card ends here-->
            </div>


            <div class="col-sm-12 col-md-6 col-lg-4">
                <!--Card starts here-->
                <div class="card mx-3 mx-sm-5 mx-md-3 mx-lg-1 my-4 chrisis_tips_card">
                    <div class="card-body">
                        <h5 class="card-title">Rubrik</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam,
                            doloribus.</p>
                        <a href="#" class="btn btn-dark">Läs mer</a>
                    </div>
                    <img class="card-img-bottom card-img-sizing" src="https://picsum.photos/245/340" alt="xxx">
                </div>
                <!--Card ends here-->
            </div>

            
            <div class="col-sm-12 col-md-6 col-lg-4">
                <!--Card starts here-->
                <div class="card mx-3 mx-sm-5 mx-md-3 mx-lg-1 my-4 chrisis_tips_card">
                    <div class="card-body">
                        <h5 class="card-title">Rubrik</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam,
                            doloribus.</p>
                        <a href="#" class="btn btn-dark">Läs mer</a>
                    </div>
                    <img class="card-img-bottom card-img-sizing" src="https://picsum.photos/294/340" alt="xxx">
                </div>
                <!--Card ends here-->
            </div>
        </div>
    </main>

    <!--Footer-->
    <footer class="footer bg-dark p-3" data-bs-theme="dark">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="logo-container">
                        <p id="logohead">K</p>
                        <div class="logobody-wrapper">
                            <p class="logobody">RIS</p>
                            <p class="logobody2">OLL</p>
                        </div>
                    </div>
                </div>

            <div class="col">
                    <p class="fhead">Följ oss</p>
                    <p class="ftext">Facebook</p>
                    <p class="ftext">Instagram</p>
                    <p class="ftext">Youtube</p>
                </div>
            
                <div class="col">
                    <p class="fhead">Juridiskt</p>
                    <p class="ftext">Integritetspolicy</p>
                    <p class="ftext">Cookiepolicy</p>
                    <p class="ftext">Sekretessinställningar</p>
                </div>
            
                <div class="col">
                    <p class="fhead">Om KrisKoll</p>
                    <p class="ftext">Om oss</p>
                    <p class="ftext">Kontakta oss</p>
                    <p class="ftext">Hållbarhet</p>
                </div>

        </div>
        
        <hr>
            <p id="copy">© 2024 KrisKoll</p>
        </div>
    </footer>

    <!--BootstrapJS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>