<!DOCTYPE html>
<html lang="sv">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logga in</title>
    <!--BootstrapCSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <!--BootsratpIcons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>


<body>
    <div class="logo-container">
        <p id="firsth1">K</p>
        <div class="logobody-wrapper">
            <p id="secondh1">RIS</p>
            <p id="thirdh1">OLL</p>
        </div>
    </div>
    <p id="slogan">Ditt bidrag, vår säkerhet</p>
    
    <!--NavBar-->
    <nav class="navbar">
        <ul>
            <li><a href="/">Hem</a></li>
            <li><a href="/Krishantering">Krishantering</a></li>
            <li><a href="/Kontakt">Kontakta oss</a></li>
            
            <!--Inloggad användare-->
            {% if is_logged_in != None %}
            <li><a href="/Ny">Publicera inlägg</a></li>
            <li><a href="/Profil">Min profil</a></li>
    
            <!--Inte inloggad användare-->
            {% else %}
            <li><a href="/Logga_in" id="loginbtn">Logga in</a></li>
            <li><a href="/Registrering" id="regbtn">Gå med</a></li>
            {% endif %}
        </ul>
    </nav>


    <main>
        <div class="container-login">
            <div class="container-lg">
                <form action="/Logga_in" method="POST" accept-charset="UTF-8">

                    <h1>Login</h1>
                    <div class="Input-box">
                        <input type="text" name="email" placeholder="Användarnamn" value="{{email}}">
                        <i class='bx bx-user'></i>
                    </div>
                    <p class="feedback_message_register"><small>{{no_email}}</small></p>

                    <div class="Input-box">
                        <input type="password" name="password" placeholder="Lösenord">
                        <i class='bx bxs-lock'></i>
                    </div>
                    <p class="feedback_message_register"><small>{{no_pwd}}</small></p>

                    <div class="remember-forgot">
                        <label><input type="checkbox"> Kom ihåg mig!</label>
                        <a href="#">Glömt lösenord?</a>
                    </div>

                    <button type="submit" class="butn">Logga in</button>
                    {%if checked_login_details == "wrong": %}
                    <div class="alert alert-danger mt-3" role="alert">
                        <p class="text-center mb-0 mt-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                                <path
                                    d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z" />
                                <path
                                    d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
                            </svg>
                            Fel användarnamn eller lösenord!
                        </p>
                    </div>

                    {% endif %}
                    <div class="register-link">
                        <p>Har du inget konto? <a href="/Registrering">Registrera dig här!</a></p>
                    </div>

                </form>
            </div>
        </div>
    </main>


    <!--Footer-->
    <footer class="footer bg-dark p-3" data-bs-theme="dark">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="logo-container">
                        <p id="logohead">K</p>
                        <div class="logobody-wrapper">
                            <p class="logobody">RIS</p>
                            <p class="logobody2">OLL</p>
                        </div>
                    </div>
                </div>

            <div class="col">
                    <p class="fhead">Följ oss</p>
                    <p class="ftext">Facebook</p>
                    <p class="ftext">Instagram</p>
                    <p class="ftext">Youtube</p>
                </div>
            
                <div class="col">
                    <p class="fhead">Juridiskt</p>
                    <p class="ftext">Integritetspolicy</p>
                    <p class="ftext">Cookiepolicy</p>
                    <p class="ftext">Sekretessinställningar</p>
                </div>
            
                <div class="col">
                    <p class="fhead">Om KrisKoll</p>
                    <p class="ftext">Om oss</p>
                    <p class="ftext">Kontakta oss</p>
                    <p class="ftext">Hållbarhet</p>
                </div>

        </div>
        
        <hr>
            <p id="copy">© 2024 KrisKoll</p>
        </div>
    </footer>


    <!--BootstrapJS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>