<!DOCTYPE html>
<html lang="sv">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <!--BootstrapCSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>


<body>
    <div class="logo-container">
        <p id="firsth1">K</p>
        <div class="logobody-wrapper">
            <p id="secondh1">RIS</p>
            <p id="thirdh1">OLL</p>
        </div>
    </div>
    <p id="slogan">Ditt bidrag, vår säkerhet</p>

    <!--NavBar-->
    <nav class="navbar">
        <ul>
            <li><a href="/">Hem</a></li>
            <li><a href="/Krishantering">Krishantering</a></li>
            <li><a href="/Kontakt">Kontakta oss</a></li>

            <!--Inloggad användare-->
            {% if is_logged_in != None %}
            <li><a href="/Ny">Publicera inlägg</a></li>
            <li><a href="/Profil" id="profilebtn">Min profil</a></li>

            <!--Inte inloggad användare-->
            {% else %}
            <li><a href="/Logga_in" id="loginbtn">Logga in</a></li>
            <li><a href="/Registrering" id="regbtn">Gå med</a></li>
            {% endif %}
        </ul>
    </nav>

    <!--Profile page-->
    <main class="container-md">
        <div id="profilepage">
            <h2 id="phead">Min profil</h2>

            <label for="email" class="formhead">E-post</label>
            {%for information in user_information%}
            <input disabled class="form-control" type="email" id="email" name="Email" value="{{information[0]}}">
            {%endfor%}

            <label for="postnummer" class="formhead">Postnummer</label>
            <input class="form-control" type="text" id="zipcode" name="Postnummer">
            <br>

            <p class="profilefont">Notifikationer</p>
            <input type="checkbox" id="epost-notis" name="epost-notis" value="1">
            <label for="epost-notis">Jag vill få notiser på e-post när något händer i mitt område</label><br>

            <h2 id="phead" class="mt-4">Mina inlägg</h2>
            <ul class="profilefont">
                {%for information in user_information%}
                <li>{{information[1]}} - {{information[2]}} - {{information[3]}}</li>
                {%endfor%}
            </ul>

            <button type="button" id="savebtn">Spara</button>
            <button type="button" id="deletebtn">Radera konto</button>

            <form action="/Logga_ut" method="GET">
                <input type="submit" class="logoutbtn" value="Logga ut">
            </form>
        </div>
    </main>


    <!--Footer-->
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="logo-container">
                        <p id="logohead">K</p>
                        <div class="logobody-wrapper">
                            <p class="logobody">RIS</p>
                            <p class="logobody2">OLL</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <p class="fhead">Följ oss</p>
                    <p class="ftext">Facebook</p>
                    <p class="ftext">Instagram</p>
                    <p class="ftext">Youtube</p>
                </div>

                <div class="col">
                    <p class="fhead">Juridiskt</p>
                    <p class="ftext">Integritetspolicy</p>
                    <p class="ftext">Cookiepolicy</p>
                    <p class="ftext">Sekretessinställningar</p>
                </div>

                <div class="col">
                    <p class="fhead">Om KrisKoll</p>
                    <p class="ftext">Om oss</p>
                    <p class="ftext">Kontakta oss</p>
                    <p class="ftext">Hållbarhet</p>
                </div>
            </div>
            <hr>
            <p id="copy">© 2024 KrisKoll</p>
    </footer>


    <!--BootstrapJS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>